
<div class="container">
    <title>Print Recipe</title>

    
<center>
<head>
<strong><h1> Recipe </h1></strong>
</head>
<table class="table" >
<tr><th>Product ID</th><th>Quantity</th><th>Product Price</th><th>Total Price</th></tr>